body{
    margin: 0;
}



/* BLOCK-NAV */

.header{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.11);
    padding-left: 15.1vw;
    padding-right: 15.1vw;
}

    .header__bottom{
        grid-area: "hero-top";
        background-color: rgba(187, 99, 99, 0.11);
        display: flex;
        gap: 4.51vw;
    }

.nav{
    display: grid;
    grid-template-columns: 22vw 48vw;
}

    /* ELEMENTS */

    .nav__logo{
        display: flex;
    }

    .nav__links{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }


main{

}

/* BLOCK-HERO */

.hero{
    padding: 0 15.1vw 0 15.1vw;
    background-color: rgba(187, 99, 99, 0.11);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "hero-main" 
    "hero__important-discount"
    "hero__important-info"
    "hero__promocional";
    padding-top: 3.8vh;
    padding-bottom: 3.8vh;
    
}

    /* ELEMENTS */

    .hero__main{
        grid-area: "hero-main";
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vh;
    }

        .hero__img{
            width: 100%;
            border-radius: 6px;
        }

        .hero__products{
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(4, auto);
            gap: 0.7vh;

        }

            .products__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 4px;
                padding: 4px;
                gap: 2px;
            }

                .item__img{
                    width: 70%;
                }

                .item__name{
                    margin: 0;
                    font-size: 11px;
                    font-family: Arial, sans-serif;
                }


    .hero__important-discount{
        margin-top: 5vh;
        grid-area: "hero__important-discount";
    }

    .hero__important-info{
        margin-top: 2vh;
        grid-area: "hero__important-info";
        display: flex;
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: white;
        height: 4.5vh;
        gap: 3.5vw;
    }

        .important-info__items{
            display: flex;
            align-items: center;
            gap: 0.8vw;
        }

            .important-info__img{
                width: 10%
            }

            .important-info__info{
                margin: 0;
            }

    .hero__promocional{
        margin-top: 2.3vh;
        grid-area: "hero__promocional";
        background-color: antiquewhite;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1vh;
    }

        .promocional__img{
            border-radius: 6px;
        }

/* BLOCK PRODUCTS-SECTION */

.products-section{
    padding: 0 15.1vw 0 15.1vw;
    padding-top: 5vh;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 5vh;
}

    /* ELEMENTS */

    .products-section__articles{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0.5vw;
    }

        .products__title{
            margin: 0;
            padding-bottom: 2.5vh;
        }

        .article__img{
            border-radius: 4px;
        }

    .products-section__eight-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vh;
    }

        .eigth-products__group-one{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            background-color: rgba(0, 0, 0, 0.11);
            padding: 16px;
        }

            .group-one__info{
                grid-column: 1 / -1;
                display: flex;
                align-items: center;
            }

        .text__title{
            margin: 0;
        }

        .text__paragraph{
            margin: 0;
        }



        .eigth-products__group-two{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            background-color: rgba(0, 0, 0, 0.11);
        }



.products-section__discount-info{
    background-color: rgba(0, 0, 0, 0.11);
}

/* BLOCK */

.products-section__kombos{
    display: grid;
    grid-template-columns: 30% 68%;
    gap: 2vh;
}

    /* ELEMENTS */

    .kombos__block-one{
        background-color: aquamarine;
    }

    .kombos__block-two{
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        background-color: rgba(0, 0, 0, 0.11);
    }

/* BLOCK */

.brands{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgba(0, 0, 0, 0.11);
}


.installation-section__services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgba(0, 0, 0, 0.11);

}

/* BLOCK */

.pay-methods{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vw;

}
    /* ELEMENTS */

    .pay-methods__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: rgba(0, 0, 0, 0.11);
    }

    .pay-methods__methods-info{
        grid-column: 1 / -1;
    }

        .methods-info__methods{
            display: grid;
            grid-template-columns: repeat(15, 1fr);
            background-color: rgba(0, 0, 0, 0.11);
        }






